{% extends 'base.html' %}

{% block content %}

    <br>
    <h1>{% block title %} Search Notes {% endblock %}</h1>
    <br>
    <form class="form-inline" method="post">
        <br>
        <div class="form-group mb-2">
            <input type="text" name="search" placeholder="Search Notes" class="form-control" id="search" value="{{ request.form['search'] }}" maxlength="30">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
    <br>
    
    {% for note in notes %}
    <div class="card">
        <div class="card-body">
            <span class="badge badge-default" style="float: right">{{ note['created'] }}</span>
            <h4 class="card-title">{{ note['title'] }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ note['subtitle'] }}</h6>
            <p class="card-text">{{ note['message'] }}</p>
        </div>
    </div>
    <hr>
    {% endfor %}

{% endblock %}
